@media (max-width: 750px) {
  .MainProjects {
    background-image: url('../images/alejandra-coral-63376.jpg');
    height: 70vh;
    background-size: cover;
    background-position: center bottom;
    padding: 50px;
    overflow: hidden;
  }

  .slider {
    height: 65vh;
    margin: 10px;
    text-align: center;
  }
  .dots {
    margin: 10px;
    position: relative;
  }
  .projectDescription {
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
  }
}
@media (min-width: 750px) {
  .MainProjects {
    background-image: url('../images/alejandra-coral-63376.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center bottom;
    padding: 50px;
    overflow: hidden;
  }

  .slider {
    height: 80vh;
    margin: 10px;
    text-align: center;
  }
  .dots {
    margin: 10px;
    position: relative;
  }
  .projectDescription {
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
  }
}
